<div class="m-2">
  <h2>Profile</h2>
  <div class="rounded bg-dark text-white p-2 my-2 d-flex flex-column">
    <div class="mb-3">
      <h3 class="m-0">Name</h3>
      <a>{{profile.username}}</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Role</h3>
      <a>{{getDisplayNameForValue(profile.role)}}</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Email</h3>
      <a>{{profile.email}}</a>
    </div>
  </div>

  <div class="rounded bg-dark text-white p-2 my-2 d-flex flex-column">
    <div class="mb-3">
      <h3 class="m-0">Accuracy average</h3>
      <a>{{statistics.accuracyPercentageAverage.toFixed(2)}} %</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Highest accuracy</h3>
      <a>{{statistics.highestAccuracyPercentage.toFixed(2)}} %</a>
    </div>
    <div class="">
      <h3 class="m-0">Lowest accuracy</h3>
      <a>{{statistics.lowestAccuracyPercentage.toFixed(2)}} %</a>
    </div>
  </div>


  <div class="rounded bg-dark text-white p-2 my-2 d-flex flex-column">
    <h3 class="m-0">Trainings</h3>
    <app-training-row *ngFor="let training of trainings" [training]="training"></app-training-row>
  </div>

</div>


