<mat-toolbar color="primary">
  <button mat-icon-button class="mat-icon-button" aria-label="Button" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span><a routerLinkActive="active" routerLink="/">Home</a></span>
    </button>
    <button mat-menu-item>
      <span><a routerLinkActive="active" routerLink="/login">Login</a></span>
    </button>
  </mat-menu>
  <span>{{title}}</span>
  <span class="spacer"></span>
</mat-toolbar>

