<div id="app">
  <nav class="navbar navbar-expand-lg navbar-dark bg-red">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Archery</a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
              aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="navbarColor01" style="">
        <ul *ngIf="isLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/trainings" (click)="ToggleNavBar()">Trainings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/bows" (click)="ToggleNavBar()">Bows</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/profiles" (click)="ToggleNavBar()">Profiles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profile',userId]" (click)="ToggleNavBar()">Profile</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register" (click)="ToggleNavBar()">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login" (click)="ToggleNavBar()">Login</a>
          </li>
        </ul>

        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a *ngIf="showAdmin" href="/profile" class="nav-link" routerLink="profile">(ADMIN) {{ username }}</a>
            <a *ngIf="!showAdmin" href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>

      </div>

    </div>
  </nav>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
</div>
