<div class="m-2">
  <h2>Training details</h2>
  <div class="rounded bg-dark text-white p-2 my-2 d-flex flex-column">
    <div class="mb-3">
      <h3 class="m-0">Name</h3>
      <a>training name</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Location</h3>
      <a>Location 3</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Shots per round</h3>
      <a>Shots per round 3</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Distance (m)</h3>
      <a>Distance (m) 3</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Max points</h3>
      <a>Max points 3</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Board</h3>
      <a>Board 3</a>
    </div>
    <div class="mb-3">
      <h3 class="m-0">Description</h3>
      <a>leiras</a>
    </div>

    <div class="d-flex justify-content-between">
      <button class="btn edit-button btn-lg w-50 me-3" [routerLink]="['/training-edit',training.id]">Edit</button>
      <button class="btn delete-button btn-lg w-50 ms-3" (click)="deleteTraining()">Delete</button>
    </div>
  </div>
  <div class="rounded bg-dark text-white p-2 my-2 d-flex flex-column">
    <div class="mb-3">
      <h3 class="m-0">Rounds</h3>
    </div>
    <app-round-row></app-round-row>
    <app-round-row></app-round-row>
    <app-round-row></app-round-row>
  </div>
</div>
